html {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
	background-color: #ddeeee;
	color: #002233;
}

ul {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
}

.header {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #eeffff;
}

.content {
	padding-left: 10px;
	padding-right: 10px;
}

.h1 {
	font-size: 50px;
}

.h2 {
	font-size: 40px;
}

.h3 {
	font-size: 30px;
}

.p {
	margin-top: 10px;
	font-size: 15px;
}

.center-text {
	text-align: center;
}

.menu {
	padding-left: 20px;
	background-color: #66bbee;
}
.menu-item {
	font-size: 20px;
	display: inline-block;
	padding: 15px;
}

.menu-item:hover {
	background-color: #77ccff;
	cursor: pointer;
}

.btn {
	background-color: #33aaff;
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #0088cc;
}
.btn:hover {
	background-color: #66ddff;
}